env:
  ALPINE_VERSION: 3.19
  NODEJS_VERSION: 22.3.0
jobs:
  build_docker_image:
    name: Build a Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build a Docker image
        run: |
          docker build --tag=${{github.repository}}:${{github.sha}} --file=Dockerfile --build-arg="ALPINE_VERSION=${{env.ALPINE_VERSION}}" --build-arg="NODEJS_VERSION=${{env.NODEJS_VERSION}}" .
  compile_check:
    name: Compile check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: ${{env.NODEJS_VERSION}}
      - name: Install dependencies
        run: |
          npm ci
      - name: Run compile check
        run: |
          npm run compile:check
  eslint_check:
    name: ESLint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: ${{env.NODEJS_VERSION}}
      - name: Install dependencies
        run: |
          npm ci
      - name: Run ESLint
        run: |
          npm run eslint:check
  hadolint_check:
    name: Hadolint check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Run Hadolint
        uses: hadolint/hadolint-action@v3.1.0
        with:
          dockerfile: Dockerfile
  nodejs_test:
    name: Node.js test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{env.NODEJS_VERSION}}
          cache: "npm"
      - name: Install dependencies
        run: |
          npm ci
      - name: Run Node.js test runner
        run: |
          npm run test
  prettier_check:
    name: Prettier check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          cache: "npm"
          node-version: ${{env.NODEJS_VERSION}}
      - name: Install dependencies
        run: |
          npm ci
      - name: Run prettier
        run: |
          npm run prettier:check
name: Continuous integration
on:
  pull_request:
  push:
